

@media (max-width: 1130px) {
    .container, .s-3container {
        width: 95%;
    }
}

@media (max-width: 850px) {
    form {
        flex-direction: column;
        height: auto;
    
    }
    .br {
        display: none;
    }

    textarea {
        margin-right: 0px;
        margin-bottom: 15px;
        height: 200px;
        max-width: none;
    }

    .input-wrapper {
        max-width: none;
    }
    input {
        margin-bottom: 15px;
    }


}
